@model _2021_dotnet_e_02.Models.ActemiumTicket

@{
    ViewData["Title"] = "Details2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="edit-view-model">
        <h2>Details of @Model.Title</h2>
        <hr />
        <dl class="row d-flex justify-content-center align-items-center p-3 text-center">
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Priority)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.DateAndTimeOfCreation)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.DateAndTimeOfCreation)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.DateAndTimeOfCompletion)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.DateAndTimeOfCompletion)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Company)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Company.CompanyId)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Attachments)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Attachments)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.TicketType)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.TicketType)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Solution)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Solution)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.Quality)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.Quality)
            </dd>
            <dt class = "col-12 col-md-6">
                @Html.DisplayNameFor(model => model.SupportNeeded)
            </dt>
            <dd class = "col-12 col-md-6">
                @Html.DisplayFor(model => model.SupportNeeded)
            </dd>
        </dl>
        <div class="d-flex justify-content-center mb-3">
            <a asp-action="Edit" asp-route-id="@Model.TicketId" class="btn btn-primary mr-3">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

</div>