@using _2021_dotnet_e_02.Models.Enums
@model IEnumerable<_2021_dotnet_e_02.Models.ActemiumTicket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var iconDict = new Dictionary<string, string>
    {
        // I've added "fas" because it can also be "fa" - see FontAwesome
        { "HARDWARE", "fas fa-desktop" },
        { "DATABASE", "fas fa-database" },
        { "SOFTWARE", "fas fa-terminal" },
        { "INFRASTRUCTURE", "fas fa-server" },
        { "NETWORK", "fas fa-network-wired" },
        { "OTHER", "fas fa-random" },
    };

    string getStatus(string value)
    {
        int number = Int32.Parse(value);
        return ((TicketStatus) number).ToString();
    }

    string makeStringCapitalized(string s)
    {
        return s[..1].ToUpper() + s[1..].ToLower();
    }
}

<div class="my-2" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="100">
    <div class="container">
        <div class="container-fluid">
            <h1 class="text-center c-blue font-weight-bold text-uppercase">Tickets</h1>
        </div>
    </div>
</div>

<div class="row" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="300">
    <div class="col-12 col-lg-7">
        <div class="bg-white pane" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="300">
            <div class="d-md-flex mb-2">
                <div class="mr-2 mr-lg-5 mb-2">
                    <a asp-action="Create" class="btn btn-primary">Make new ticket</a>
                </div>
                <div class="flex-grow-1">
                    <form action="#">
                        <div class="form-group d-flex">
                            <label for="searchTickets"><i class="fas fa-search mr-2"></i></label>
                            <input type="text" class="form-control" id="searchTickets" aria-describedby="todo" placeholder="Search for ticket (TODO)">
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Priority)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TicketId</td>
                            <td><i class="@iconDict[item.TicketType.ToString()]"></i> <small>@(makeStringCapitalized(item.TicketType.ToString()))</small></td>
                            <td ><span class="prio prio-@(item.Priority.ToString()[item.Priority.ToString().Length - 1])">@item.Priority</span></td>
                            <td>@item.Title</td>
                            <td>@(makeStringCapitalized(item.Status.ToString()).Replace("_", " "))</td>
                            <td class="actions">
                                <a id="getDetails"><i class="fas fa-info-circle"></i></a> |
                                <!--<a asp-action="DetailsNewWindow" asp-route-id="@item.TicketId">ViewNew <i class="fas fa-info-circle"></i></a> | -->
                                <a asp-action="Edit" asp-route-id="@item.TicketId"><i class="fas fa-pen"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.TicketId"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5" id="paneDetailTicket">
        <div class="bg-white pane d-flex justify-content-center align-content-center h-100">
            <div class="d-flex flex-column" id="content">
                <h1 class="c-blue text-center">No ticket was selected.</h1>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
    const url = '@Url.Action("Details", "Ticket")';
    const contextHTML = document.getElementById('content');
    var _convertDate = function (date) {
        const t = new Date(date);
        const dateItSelf = ('0' + t.getDate()).slice(-2);
        const month = ('0' + (t.getMonth() + 1)).slice(-2);
        const year = t.getFullYear();
        const hours = ('0' + t.getHours()).slice(-2);
        const minutes = ('0' + t.getMinutes()).slice(-2);
        const seconds = ('0' + t.getSeconds()).slice(-2);
        return `${dateItSelf}/${month}/${year}, ${hours}:${minutes}:${seconds}`;
    }
    var _dateOfCompletion = function (date) { return date === null ? "Not yet completed" : _convertDate(date)  }
    
    function fillInDetails(data) {
        contextHTML.innerHTML = "";
        contextHTML.insertAdjacentHTML("beforeend", 
            `
               <ul class="nav nav-tabs">
                 <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Details ticket</a></li>
                 <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Comments & Changes</a></li>
                 <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Technicians</a></li>
                 <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">Other</a></li>
               </ul>
               <div class="tab-content">
               
                 <div class="tab-pane active" role="tabpanel" id="tab-1">
                   <div class="row">
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center ">Title:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.Title}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center ">Description:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.Description}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center ">Ticket ID:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.TicketId}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center">Status:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.Status}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center">Priority:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.Priority}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center">Type:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.TicketType}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center">Date and Time of creation:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${_convertDate(data.DateAndTimeOfCreation)}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center">Date and Time of creation:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${_dateOfCompletion(data.DateAndTimeOfCompletion)}</div>
                        </div>
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center">Company:</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.Company}</div>
                        </div>
                   </div>
                 </div>

                 <div class="tab-pane" role="tabpanel" id="tab-2">
                   <div class="row">
                    <div class="col-12 row text-left">
                      <div class="col-4 d-flex align-content-center ">Comments: TODO</div>
                      <div class="col-8 class-muted d-flex align-items-center">${data.Comments}</div>
                    </div>
                    <div class="col-12 row text-left">
                      <div class="col-4 d-flex align-content-center ">Changes: TODO: scrollbar?</div>
                      <div class="col-8 class-muted d-flex align-items-center">${data.Changes}</div>
                    </div>
                   </div>
                 </div>
                 <div class="tab-pane" role="tabpanel" id="tab-3">
                   <div class="row">
                        <div class="col-12 row text-left">
                          <div class="col-4 d-flex align-content-center ">Technicians: TODO</div>
                          <div class="col-8 class-muted d-flex align-items-center">${data.Technicians}</div>
                        </div>
                   </div>
                 </div>
                 <div class="tab-pane" role="tabpanel" id="tab-4">
                   <div class="row">
                    <div class="col-12 row text-left">
                      <div class="col-4 d-flex align-content-center ">Attachments: TODO</div>
                      <div class="col-8 class-muted d-flex align-items-center">${data.Attachments}</div>
                    </div>
                    <div class="col-12 row text-left">
                      <div class="col-4 d-flex align-content-center ">Solution: TODO</div>
                      <div class="col-8 class-muted d-flex align-items-center">${data.Solution}</div>
                    </div>
                    <div class="col-12 row text-left">
                      <div class="col-4 d-flex align-content-center ">Quality: TODO</div>
                      <div class="col-8 class-muted d-flex align-items-center">${data.Quality}</div>
                    </div>
                    <div class="col-12 row text-left">
                      <div class="col-4 d-flex align-content-center ">Support Needed: TODO</div>
                      <div class="col-8 class-muted d-flex align-items-center">${data.SupportNeeded}</div>
                    </div>
                   </div>
                 </div>
               </div>
             `
        )
    }
    
    function sleep (time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    }
    
    $('#getDetails').click(function() {
        
        contextHTML.innerHTML = ""
        contextHTML.insertAdjacentHTML("beforeend", `<div class="d-flex flex-column justify-content-center align-content-center"><h1>Loading <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></h1></div>` )
        // Usage!
        sleep(500).then(() => {
            console.log("start")
            $.ajax({
                url: url,
                type: "get",
                data: { id:1 },
                dataType: "json",
                success: function (result) {
                    //result = JSON.stringify(result);
                    result = JSON.parse(result);
                    console.log(result);
                    fillInDetails(result);
                },
                error: function (xhr) {
                    alert("failed");
                }
            });
            console.log("End")
        });


    });
    </script>
    }