@using _2021_dotnet_e_02.Models.Enums
@model System.Collections.Generic.IEnumerable<_2021_dotnet_e_02.Models.ActemiumContract>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var iconDict = new Dictionary<string, string>
    {
        // I've added "fas" because it can also be "fa" - see FontAwesome
        { "HARDWARE", "fas fa-desktop" },
        { "DATABASE", "fas fa-database" },
        { "SOFTWARE", "fas fa-terminal" },
        { "INFRASTRUCTURE", "fas fa-server" },
        { "NETWORK", "fas fa-network-wired" },
        { "OTHER", "fas fa-random" },
    };

    string makeStringCapitalized(string s)
    {
        return s[..1].ToUpper() + s[1..].ToLower();
    }

    // should contain the ticket of which the info/details icon was pressed
    ViewBag.SelectedContract = Model.Last();
    //selectedTicket = SelectedTicket;
    Console.WriteLine(ViewBag.SelectedContract.ContractId);
}

<div class="my-2" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="100">
    <div class="container">
        <div class="container-fluid">
            <h1 class="text-center c-blue font-weight-bold text-uppercase">Contracts</h1>
        </div>
    </div>
</div>

<div class="row" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="300">
    <div class="col-12 col-lg-7">
        <div class="bg-white pane" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="300">
            <div class="d-md-flex py-4">
                <div class="mr-2 mr-lg-5 mb-2">
                    <a asp-action="Create" class="btn btn-primary">Sign new contract</a>
                </div>
                <div class="flex-grow-1">
                    <form action="#">
                        <div class="form-group d-flex">
                            <label for="searchContracts"><i class="fas fa-search mr-2"></i></label>
                            <input type="text" class="form-control" id="searchContracts" aria-describedby="todo" placeholder="Search for contract (TODO)">
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.ContractType)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.StartDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.EndDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ContractId</td>
                                <td>@(makeStringCapitalized(item.ContractType.Name))</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@(makeStringCapitalized(item.Status.ToString()).Replace("_", " "))</td>
                                <td class="actions">
                                    <a id="getDetails" class="ticketDetailsButton" contractId="@item.ContractId"><i class="fas fa-info-circle"></i></a> |
                                    <!--<a asp-action="DetailsNewWindow" asp-route-id="@item.ContractId">ViewNew <i class="fas fa-info-circle"></i></a> | -->
                                    <a asp-action="Edit" asp-route-id="@item.ContractId"><i class="fas fa-pen"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.ContractId"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5" id="paneDetailTicket">
        <div class="bg-white pane d-flex justify-content-center align-content-center h-100 py-4">
            <div class="d-flex flex-column" id="content">
                <h1 class="c-blue text-center">No contract was selected.</h1>
            </div>
        </div>
    </div>
</div>


