@using _2021_dotnet_e_02.Models.Enums
@using Microsoft.AspNetCore.Html
@model System.Collections.Generic.IEnumerable<_2021_dotnet_e_02.Models.ActemiumContract>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string makeStringCapitalized(string s)
    {
        return s[..1].ToUpper() + s[1..].ToLower();
    }

    string castDate(Object date)
    {
        if (date != null)
        {
            //date = date[..10];
            //DateTime dateTime = DateTime.Parse(date);
            DateTime dateTime = (DateTime)date;
            return dateTime.ToString("yyyy-MM-dd");
        }
        return "";
    }

    bool isResolved(ActemiumContract contract)
    {
        return !contract.Status.ToString().Equals(ContractStatus.CANCELLED.ToString(), StringComparison.OrdinalIgnoreCase)
               && !contract.Status.ToString().Equals(ContractStatus.EXPIRED.ToString(), StringComparison.OrdinalIgnoreCase);
    }
    
    IHtmlContent parseJSONFromBackEnd(string s)
    {
        return Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(s,
            Newtonsoft.Json.Formatting.Indented));
    }

    // should contain the ticket of which the info/details icon was pressed
    //ViewBag.SelectedContract = Model.Last();
    //selectedTicket = SelectedTicket;
    //Console.WriteLine(ViewBag.SelectedContract.ContractId);
}

<div class="my-2">
    <div class="container">
        <div class="container-fluid">
            <h1 class="text-center c-blue font-weight-bold text-uppercase">Contracts</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-7 mb-2">
        <div class="bg-white pane" data-aos="fade-up" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="25">
            <div class="d-md-flex py-4">
                <div class="mr-2 mr-lg-5 mb-2">
                </div>
                <div class="flex-grow-1">
                    <form class="row">
                        <!-- TODO: select options disable/not visable on mobile -->
                        <!-- TODO: multiple selected (see bootstrap) -->
                        <div class="col-12 row">
                            <div class="col-12 col-md-6 form-group d-flex">
                                <label for="searchContracts"><i class="fas fa-search mr-2"></i></label>
                                <input type="text" class="form-control" id="searchContracts"
                                       name="searchText" aria-describedby="search text" placeholder="Search for contract"
                                       value="@(ViewData["searchText"] ?? "")">
                            </div>
                            <div class="col-md-6 form-group d-none d-md-flex row">
                                <label for="contractStatus" class="w-100 col-4">Contract Status:</label>
                                <select name="status" id="contractStatus" asp-items="Html.GetEnumSelectList<ContractStatus>()" class="selectpicker form-control col-8" multiple="multiple" title="Select a contract status"></select>
                            </div>
                        </div>
                        <div class="col-12 row d-none d-md-flex">
                            <div class="col-md-6 form-group d-flex">
                                <label for="startDate" class="w-100">Start date:</label>
                                <input type="date" name="StartDate" id="startDate" class="form-control" value="@(castDate(ViewData["startDate"]) ?? "")" />
                            </div>
                            <div class="col-md-6 form-group d-flex">
                                <label for="endDate" class="w-100">End date:</label>
                                <input type="date" name="EndDate" id="endDate" class="form-control" value="@(castDate(ViewData["endDate"]) ?? "")"/>
                            </div>
                        </div>
                        <div class="col-12 row">
                            <div class="mr-2">
                                <a asp-action="Create" class="btn btn-primary">Request new contract</a>
                            </div>
                            <div class="ml-auto">
                                <button type="submit" class="btn btn-secondary ml-1">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.ContractType)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.StartDate)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EndDate)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="getDetails" class="contractDetailsButtonTr" contractId="@item.ContractId">
                            <td>@item.ContractId</td>
                            <td>@(makeStringCapitalized(item.ContractType.Name))</td>
                            <td>@item.StartDate.Day/@item.StartDate.Month/@item.StartDate.Year</td>
                            <td>@item.EndDate.Day/@item.EndDate.Month/@item.EndDate.Year</td>
                            <td>@(makeStringCapitalized(item.Status.ToString()).Replace("_", " "))</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            @if ((int) ViewData["totalPages"] > 1)
                                {
                                <nav aria-label="ticket navigation" class="d-flex justify-content-center align-content-center">
                                    <ul class="pagination">
                                        @if ((int) ViewData["page"] > 1)
                                        {
                                            <li class="page-item">
                                                <a asp-action="Index" asp-route-page="@((int) ViewData["page"] - 1)" class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }
                                        @for (int i = 1; i <= (int) ViewData["totalPages"]; i++)
                                        {
                                            <li class="page-item"><a asp-action="Index" asp-route-page="@i" class="page-link @((int) ViewData["page"] == i || ((int) ViewData["page"] == 0 && i == 1) ? "page-link-active" : "")">@i</a></li>
                                        }
                                        @if ((int) ViewData["page"] < (int) ViewData["totalPages"])
                                        {
                                            <li class="page-item">
                                                <a asp-action="Index" asp-route-page="@((int) ViewData["page"] + 1)" class="page-link" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                                }
        </div>
    </div>
    <div class="col-12 col-lg-5" id="paneDetailTicket" data-aos="fade-up" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="25">
        <div class="bg-white pane d-flex justify-content-center align-content-center h-100 p-5">
            <div class="d-flex flex-column" id="content">
                <h1 class="c-blue text-center">No contract was selected.</h1>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="Delete modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to cancel this contract?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          
        </div>
        <div class="modal-body">
            <div id="model-content"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="cancelConfirm" class="btn btn-danger">Cancel</button>
        </div>
    </div>
  </div>
</div>

@section Scripts
{
    <script>
    const url = '@Url.Action("Details", "Contract")';
    const urlCancel = '@Url.Action("Cancel", "Contract")';
    const modalContent = document.getElementById('model-content');
    let contractIDToCancel;
    const contextHTML = document.getElementById('content');
    var _convertDate = function (date) {
        const t = new Date(date);
        const dateItSelf = ('0' + t.getDate()).slice(-2);
        const month = ('0' + (t.getMonth() + 1)).slice(-2);
        const year = t.getFullYear();
        return `${dateItSelf}/${month}/${year}`;
    }
    
    var _isExpired = function (status) {
          return status.toLowerCase() === "cancelled" || status.toLowerCase() === "expired";
    }
    
    function initSelects(){
        let statusList = JSON.parse(@parseJSONFromBackEnd(ViewData["status"].ToString()));
        const statusSelect = $('#contractStatus');
        if (statusList && statusList.length > 0)
            statusSelect.selectpicker("val", statusList);
    }
        
    function fillInDetails(data) {
        contextHTML.innerHTML = "";
        contextHTML.insertAdjacentHTML("beforeend",
            `
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Details contract</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Details contractType</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Details Company</a></li>
                              </ul>
                              <div class="tab-content">
               
                                <div class="tab-pane active" role="tabpanel" id="tab-1">
                                  <div class="row">
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center ">ContractType:</div>
                                         <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.Name}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center">Status:</div>
                                         <div class="col-8 class-muted d-flex align-items-center">${data.Status}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center">Start date:</div>
                                         <div class="col-8 class-muted d-flex align-items-center">${_convertDate(data.StartDate)}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center">End date:</div>
                                         <div class="col-8 class-muted d-flex align-items-center">${_convertDate(data.EndDate)}</div>
                                       </div>
                                  </div>
                
                                </div>
               
                                <div class="tab-pane" role="tabpanel" id="tab-2">
                                  <div class="row">
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">Name: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.Name}</div>
                                   </div>
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">HasEmail: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.HasEmail}</div>
                                   </div>
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">HasPhone: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.HasPhone}</div>
                                   </div>
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">HasApplication: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.HasApplication}</div>
                                   </div>
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">TimeStamp: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.TimeStamp}</div>
                                   </div>
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">Maximum handling time: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.MaxHandlingTime}</div>
                                   </div>
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">Minimum throughput time: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">${data.ContractType.MinThroughputTime}</div>
                                   </div>
                                   <div class="col-12 row text-left">
                                     <div class="col-4 d-flex align-content-center ">Price: </div>
                                     <div class="col-8 class-muted d-flex align-items-center">€${data.ContractType.Price}</div>
                                   </div>
                                  </div>
                                </div>
               
                                <div class="tab-pane" role="tabpanel" id="tab-3">
                                  <div class="row">
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center ">Name: </div>
                                         <div class="col-8 class-muted d-flex align-items-center">${data.Company.Name}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center ">Country: </div>
                                         <div class="col-8 class-muted d-flex align-items-center">${data.Company.Country}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center ">City: </div>
                                         <div class="col-8 class-muted d-flex align-items-center">${data.Company.City}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center ">Address: </div>
                                         <div class="col-8 class-muted d-flex align-items-center">${data.Company.Address}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center ">Phone number: </div>
                                         <div class="col-8 class-muted d-flex align-items-center">${data.Company.PhoneNumber}</div>
                                       </div>
                                       <div class="col-12 row text-left">
                                         <div class="col-4 d-flex align-content-center ">Registartion date: </div>
                                         <div class="col-8 class-muted d-flex align-items-center">${_convertDate(data.Company.RegistrationDate)}</div>
                                       </div>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-center mt-2">
                                    <a contractId="${data.ContractId}" contractType="${data.ContractType.Name}" id="cancelBtn" class="btn btn-danger ${_isExpired(data.Status) ? "disabled" : ""}"><i class="fas fa-trash-alt mr-2"></i>Cancel</a>
                                </div>
                            </div>
             `
        );
        $('#cancelBtn').click(function () {
                console.log("pressed");
               $('#cancelModal').modal('show');
              
               contractIDToCancel = $(this).attr('contractId');
               let contractType = $(this).attr('contractType');
               console.log(contractIDToCancel);
               console.log(modalContent);
              
               modalContent.insertAdjacentHTML("beforeend", `The contract you want to cancel has the id: ${contractIDToCancel} <br> and Type: ${contractType}`)
            });
    }

    function sleep (time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    }
    
   
    
    $('#cancelConfirm').click(function () {
        $.ajax({
            url: urlCancel,
            type: "post",
            data: { id: contractIDToCancel },
            success: function () {
                location.reload();   
            },
            error: function ()  {
                alert("failed")    
            }
        });    
    });
    
    $('.contractDetailsButton').click(function () {
        contextHTML.innerHTML = ""
        contextHTML.insertAdjacentHTML("beforeend", `<div class="d-flex flex-column justify-content-center align-content-center"><h1>Loading <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></h1></div>` )
    });

    $('.contractDetailsButtonTr').click(function () {
        contextHTML.innerHTML = ""
        contextHTML.insertAdjacentHTML("beforeend", `<div class="d-flex flex-column justify-content-center align-content-center"><h1>Loading <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></h1></div>` )
        // Usage!
        sleep(500).then(() => {
            console.log("start")
            $.ajax({
                url: url,
                type: "get",
                data: { id: $(this).attr('contractId') },
                dataType: "json",
                success: function (result) {
                    //result = JSON.stringify(result);
                    result = JSON.parse(result);
                    console.log(result);
                    fillInDetails(result);
                },
                error: function (xhr) {
                    alert("failed");
                }
            });
            console.log("End")
    });


    });
    
    $(document).ready(() => {
        console.log("ready");
        initSelects();

    });
</script>
}

